@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Roboto", cursive;
    font-size: 4rem;
  }
  h2 {
    font-family: "Roboto", cursive;
    font-size: 3rem;
  }
  h3 {
    font-family: "Roboto", cursive;
    font-size: 2rem;
  }

  p {
    font-family: "Libre Franklin", cursive;
    font-size: 1rem;
  }
}

.hamburger.left-0 .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.left-0 .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.left-0 .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
